extends base.pug

block content
    h3.text-center Menu Principal
    .row
        .col-lg-12
            button.btn.btn-danger
                |Suma de Numero
        br
        br
        .col-lg-12
            button.btn.btn-danger
                |Suma de Numero
        br
        br 
        .col-lg-12
            button.btn.btn-danger
                |Suma de Numero
        
