extends base.pug

block content
    h1.text-center Suma Numeros
        .row
            .col-md-4.offset-md-4.card
                 .col-lg-12
                    br
                    input.form-control.numeros(placeholder='Valores Numericos', type='text')
                    br
                    .row    
                        .col-lg-6
                            a(href="/").btn.btn-outline-danger.btn-block
                                |Atras
                        .col-lg-6
                            button.btn.btn-outline-success.btn-block.calcular
                                |Calcular

                    br